<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello Vue</title>
  <!-- vue import -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

  <!-- hello vue -->
  <div id="app">
    {{ message }}
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el:'#app',
      data:{
        message:'Hello Vue'
      }
    })
  </script>

  <!-- v-bind -->
  <div id="app2">
    <span v-bind:title="msg">悬停,查看此处值</span>
  </div>

  <script type="text/javascript">
    var app2 = new Vue({
      el:'#app2',
      data:{
        msg:"Hahah"
      }
    });

  </script>

  <!-- v-if -->
  <div id="app3">
    <p v-if="seen">Visible now</p>
  </div>

  <script type="text/javascript">
    var app3 = new Vue({
      el:'#app3',
      data:{
        seen:false
      }
    });
  </script>

  <div id="app4">
    <ul>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ul>
  </div>

  <script type="text/javascript">
    var app4 = new Vue({
      el:'#app4',
      data:{
        todos:[
          {text:'12345'},
          {text:'abcdef'},
          {text:'09876'}
        ]
      }
    });
  </script>

  <!-- v-on -->

  <div id="app5">
    <p>{{ msg }}</p>
    <button v-on:click="reverseMsg">逆转消息</button>
  </div>

  <script type="text/javascript">
    var app5 = new Vue({
      el:'#app5',
      data:{
        msg:'ABCDEF',
      },
      methods:{
        reverseMsg:function(){
          this.msg = this.msg.split('').reverse().join('')
        }
      }
    });
  </script>

  <!-- v-model -->
  <!-- 双向绑定 -->

  <div id="app6">
    <p>{{msg}}</p>
    <input v-model="msg">
  </div>

  <script type="text/javascript">
    var app6 = new Vue({
      el:'#app6',
      data:{
        msg:'initial data'
      }
    });
  </script>

  <!-- vue component -->
  <div id="app-7">
    <ol>
      <!--
        现在我们为每个 todo-item 提供 todo 对象
        todo 对象是变量，即其内容可以是动态的。
        我们也需要为每个组件提供一个“key”，稍后再
        作详细解释。
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>

  <script type="text/javascript">
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>模板：{{ todo.text }}</li>'
    })

    var app7 = new Vue({
      el: '#app-7',
      data: {
        groceryList: [
          { id: 0, text: '蔬菜' },
          { id: 1, text: '奶酪' },
          { id: 2, text: '随便其它什么人吃的东西' }
        ]
      }
    })
  </script>



</body>
</html>
